.alert {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    padding: 1rem;
    color: var(--text);
  }
  
  .default {
    background-color: var(--background);
    color: var(--text);
  }
  
  .destructive {
    border-color: #fecaca;
    color: #dc2626;
    background-color: #fef2f2;
  }
  
  [data-theme='dark'] .destructive {
    border-color: #7f1d1d;
    color: #fca5a5;
    background-color: #450a0a;
  }
  
  .title {
    margin-bottom: 0.25rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.025em;
    margin: 0;
  }
  
  .description {
    font-size: 0.875rem;
    margin: 0;
  }