.avatar {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .image {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .fallback {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--surface);
    color: var(--text);
  }