.progress {
    position: relative;
    height: 1rem;
    width: 100%;
    overflow: hidden;
    border-radius: 9999px;
    background-color: var(--surface);
  }
  
  .indicator {
    height: 100%;
    width: 100%;
    flex: 1;
    background-color: var(--primary);
    transition: all 0.15s ease-in-out;
  }